policy_module(ntp, 1.16.2)

########################################
#
# Declarations
#

attribute_role ntpd_roles;
attribute_role ntpdate_roles;

type ntp_conf_t;
files_config_file(ntp_conf_t)

type ntp_drift_t;
files_type(ntp_drift_t)

type ntpd_t;
type ntpd_exec_t;
init_daemon_domain(ntpd_t, ntpd_exec_t)
role ntpd_roles types ntpd_t;

type ntpd_initrc_exec_t;
init_script_file(ntpd_initrc_exec_t)

type ntpd_key_t;
files_type(ntpd_key_t)

type ntpd_lock_t;
files_lock_file(ntpd_lock_t)
init_daemon_lock_file(ntpd_lock_t, file, "ntpdate")

type ntpd_log_t;
logging_log_file(ntpd_log_t)

type ntpd_pid_t;
typealias ntpd_pid_t alias ntpd_var_run_t;
files_pid_file(ntpd_pid_t)

type ntpd_tmp_t;
files_tmp_file(ntpd_tmp_t)

type ntpd_tmpfs_t;
files_tmpfs_file(ntpd_tmpfs_t)

type ntpd_unit_t;
init_unit_file(ntpd_unit_t)

type ntpdate_t;
type ntpdate_exec_t;
application_domain(ntpdate_t, ntpdate_exec_t)
role ntpdate_roles types ntpdate_t;

########################################
#
# Local daemon policy
#

# sys_time : modify system time
allow ntpd_t self:capability { setgid setuid sys_time };
# sys_resource : setrlimit
dontaudit ntpd_t self:capability sys_resource;
allow ntpd_t self:process { getcap setcap setsched signal_perms setrlimit };
allow ntpd_t self:fifo_file rw_fifo_file_perms;
allow ntpd_t self:tcp_socket { accept listen };
allow ntpd_t self:unix_dgram_socket sendto;

allow ntpd_t ntp_conf_t:file read_file_perms;

manage_dirs_pattern(ntpd_t, ntp_drift_t, ntp_drift_t)
manage_files_pattern(ntpd_t, ntp_drift_t, ntp_drift_t)
files_var_filetrans(ntpd_t, ntp_drift_t, file)

read_files_pattern(ntpd_t, ntpd_key_t, ntpd_key_t)
read_lnk_files_pattern(ntpd_t, ntpd_key_t, ntpd_key_t)

allow ntpd_t ntpd_lock_t:file write_file_perms;

allow ntpd_t ntpd_log_t:dir setattr_dir_perms;
append_files_pattern(ntpd_t, ntpd_log_t, ntpd_log_t)
create_files_pattern(ntpd_t, ntpd_log_t, ntpd_log_t)
setattr_files_pattern(ntpd_t, ntpd_log_t, ntpd_log_t)
logging_log_filetrans(ntpd_t, ntpd_log_t, { file dir })

manage_files_pattern(ntpd_t, ntpd_pid_t, ntpd_pid_t)
files_pid_filetrans(ntpd_t, ntpd_pid_t, file)

manage_dirs_pattern(ntpd_t, ntpd_tmp_t, ntpd_tmp_t)
manage_files_pattern(ntpd_t, ntpd_tmp_t, ntpd_tmp_t)
files_tmp_filetrans(ntpd_t, ntpd_tmp_t, { file dir })

manage_dirs_pattern(ntpd_t, ntpd_tmpfs_t, ntpd_tmpfs_t)
manage_files_pattern(ntpd_t, ntpd_tmpfs_t, ntpd_tmpfs_t)
fs_tmpfs_filetrans(ntpd_t, ntpd_tmpfs_t, { dir file })

kernel_read_kernel_sysctls(ntpd_t)
kernel_read_system_state(ntpd_t)
kernel_read_network_state(ntpd_t)

corenet_udp_bind_generic_node(ntpd_t)
corenet_udp_bind_ntp_port(ntpd_t)
corenet_tcp_connect_ntp_port(ntpd_t)

corecmd_exec_bin(ntpd_t)
corecmd_exec_shell(ntpd_t)

dev_read_urand(ntpd_t)
dev_rw_realtime_clock(ntpd_t)

files_read_etc_runtime_files(ntpd_t)
files_read_usr_files(ntpd_t)
files_search_var_lib(ntpd_t)

auth_use_nsswitch(ntpd_t)

logging_send_syslog_msg(ntpd_t)

miscfiles_read_localization(ntpd_t)

ifdef(`hide_broken_symptoms',`
	# https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=855444

	kernel_dontaudit_request_load_module(ntpd_t)
	dontaudit ntpd_t self:socket create;
')

optional_policy(`
	cron_system_entry(ntpd_t, ntpd_exec_t)
	cron_system_entry(ntpd_t, ntpdate_exec_t)
')

optional_policy(`
	gpsd_rw_shm(ntpd_t)
')

optional_policy(`
	firstboot_dontaudit_use_fds(ntpd_t)
	firstboot_dontaudit_rw_pipes(ntpd_t)
	firstboot_dontaudit_rw_stream_sockets(ntpd_t)
')

optional_policy(`
	hal_dontaudit_write_log(ntpd_t)
')

########################################
#
# Local client policy
#

allow ntpdate_t self:capability { sys_nice sys_time };
allow ntpdate_t self:process setsched;
allow ntpdate_t self:unix_dgram_socket { create connect };

auth_use_nsswitch(ntpdate_t)

corenet_udp_bind_generic_node(ntpdate_t)
corenet_udp_bind_ntp_port(ntpdate_t)

domain_use_interactive_fds(ntpdate_t)

logging_send_syslog_msg(ntpdate_t)

miscfiles_read_localization(ntpdate_t)

userdom_use_inherited_user_terminals(ntpdate_t)
